<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  /* Active nav link highlight */
  #mainNav .navbar-nav .nav-item.active .nav-link {
    color: #b8a97e !important;
    font-weight: 700;
    position: relative;
  }

  #mainNav .navbar-nav .nav-item.active .nav-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2.5px;
    background: #b8a97e;
    border-radius: 2px;
  }
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImmenseQ Enggineering | Architectrual Lighting Experts</title>
    {% load static %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" sizes="32x32" type="image/x-icon">

    <!-- Bootstrap Styles -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Vendor Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/slick-carousel/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hovereffects.css' %}">

    <!-- Theme Styles -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}

    <main role="main" class="mt-lg-5 m-0">
        <!-- ADD this right after <main role="main"> tag in base.html -->
{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span>&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}
    <!-- Body Content -->
    {% block content %}
    {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Script -->
    
    <!-- JS Script Files -->
    <script src="{% static 'vendors/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/jquery.migrate.min.js' %}"></script>
    <script src="{% static 'vendors/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- Components Vendor  -->
    <script src="{% static 'vendors/slick-carousel/slick.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendors/counters/waypoint.min.js' %}"></script>
    <script src="{% static 'vendors/counters/counterup.min.js' %}"></script>
    
    <!-- <script src="{% static 'contact/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'contact/contact_me.js' %}"></script> -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <!--Plugin Initialize-->
    <script src="{% static 'js/global.js' %}"></script>
    
    <!-- Theme Components and Settings -->
    <script src="{% static 'vendors/carousel.js' %}"></script>
    <script src="{% static 'vendors/counters.js' %}"></script>
    {% block script %}
    {% endblock %}
    
</body>
</html>