{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Contact Us Form -->
<section class="wt-section bg-light" id="contact">
    <div class="container">
        <div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
            <div class="col-md-8 text-center w-md-50 mx-auto mb-0 ">
                <h2 class="mb-md-2">Contact US</h2>
                <p>The time to create is now</p>
            </div>
        </div>

        <div class="row justify-content-md-center text-center mg-5 pb-5">
            <div class="col-md-7">
                <div class="form">
                    <!-- Form details -->
                    <form action="" method="post" name="sentMessage" class="well" id="contactForm" novalidate data-aos="fade-up" data-aos-easing="linear" data-aos-delay="200">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <!-- First Name -->
                                <div class="control-group">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="First Name" name="first_name" id="first_name" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Last Name -->
                                <div class="control-group">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="Last Name" name="last_name" id="last_name" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Phone Number -->
                                <div class="control-group">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="Phone Number" name="phone_number" id="phone_number" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!-- Email -->
                                <div class="form-group mb-4">
                                    <div class="controls">
                                        <input type="email" class="form-control form-control-lg" placeholder="Email" name="email" id="email" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Subject -->
                                <div class="form-group mb-4">
                                    <div class="controls">
                                        <input type="text" class="form-control form-control-lg" placeholder="Subject" name="subject" id="subject" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Message -->
                        <div class="form-group mb-4">
                            <div class="controls">
                                <textarea rows="10" cols="50" class="form-control form-control-lg" placeholder="Leave us a Message..." name="message" id="message" required maxlength="999" style="resize:none"></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-lg btn-primary py-3 mt-3 px-4 btn-pill" type="submit">Submit</button>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </div>
</section>

{% endblock %}