<!-- Footer -->
<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
                <small class="text-white">
                    <h5>About ImmenseQ Engineering</h5>
                    <ul>
                        <li>
                            <p>ImmenseQ Enggineering, based in Ahmedabad, offers top-quality lighting consultancy and solutions. We specialize in LED lights, home automation, and electrical switches, ensuring excellence from product selection to after-sales support.</p>
                        </li>
                    </ul>
                </small>
            </div>
        
            <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
                <small class="text-white">
                    <h5>Call Us</h5>
                    <ul>
                        <li>+91 99784 70330</li>
                        <li>+91 90990 54784</li>
                    </ul>
                    <br>
                    <h5>Locate Us</h5>
                    <ul>
                        <li>
                            <p>609, Colonnade2,
                                B/H Rajpath Club,
                                Opp. Auda Garden, Bodakdev,
                                
                                Ahmedabad-380054.</p>
                        </li>
                    </ul>
                </small>
            </div>

            <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
                <small class="text-white">
                    <h5>Mail Us</h5>
                    <ul>
                        <li>info@immenseq.com</li>
                        <li>immenseqenggineering@yahoo.com</li>
                    </ul>
                </small>
                <br>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top">
                        <a class="text-white" target="_blank" href="https://www.instagram.com/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top">
                        <a class="text-white" target="_blank" href="https://www.facebook.com/">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top">
                        <a class="text-white" target="_blank" href="https://linkedin.com/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top">
                        <a class="text-white" target="_blank" href="https://whatsapp.com/">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>