{% extends 'base.html' %}
{% block content %}

    <!-- Slider -->
    {% include 'slider.html' %}

    <!-- Our Achievements -->
    {% include 'achievements.html' %}

    <!-- Categories -->
    {% include 'categories.html' %}

    <!-- Freatured Projects -->
    {% include 'featured_projects.html' %}

    <!-- Our Partners -->
    {% include 'partners.html' %}

    <!-- What We Offer -->
    {% include 'whatweoffer.html' %}

    <!-- Our Founders -->
    {% include 'founders.html' %}

    <!-- Our Clients -->
    {% include 'clients.html' %}

    <!-- Testimonials -->
    {% include 'testimonials.html' %}

{% endblock %}